{% extends 'base.html' %}

{% block title %}Customer Registration{% endblock %}

{% block content %}
<style>
    .errorlist{
        color:red
    }
</style>
<div class="containter">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Registration</h3><hr>
            <form action="" method="POST">
                {% csrf_token%}
                {{form.as_p}}
                <button class="btn btn-light mb-3">REGISTER</button>
            </form>
            <p>Already have an account? <a href="{% url 'onlineshopapp:customerlogin' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}